<h1>New Pirate</h1>
<p>Pirate Name: <%= @pirate.name %></p>
<p>Pirate Weight: <%= @pirate.weight %></p>
<p>Pirate Height: <%= @pirate.height %></p>
<h2>New Pirate's Ships</h2>
<ol>
<% @ships.each_with_index do |ship, index|%>
    <li>
    <p>Ship <%= index + 1 %> Name: <%= ship.name %></p>
    <p>Ship <%= index + 1 %> Type: <%= ship.type %></p>
    <p>Ship <%= index + 1 %> Booty: <%= ship.booty %></p>
    </li>
<% end %>
</ol>